.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../assets/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container__button {
    display: none;
}

.container__button:checked~.list-menu {
    display: block;
}

.list-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 72vw;
}

.list-menu__title,
.list-menu__iten {
    padding: 1rem;
    background-color: var(--branco);
}

.list-menu__title {
    font-family: var(--fonte-principal);
    font-weight: 700;
    color: var(--laranja);
}

.list-menu__link {
    background: var(--azul-gradiente);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    font-family: var(--fonte-principal);
}

.container {
    display: flex;
    align-items: center;
}

.container__image {
    padding: 1rem;
}

.container__title {
    display: none;
}

.options {
    display: none;
}

@media screen and (min-width: 1024px) {
    .container__title, .container__title-bold {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container__title {
        font-weight: 400;
        display: block;
    }

    .container__title-bold {
        font-weight: 700;
    }

    .options {
        display: flex;
    }
    
    .options__iten {
        font-family: var(--fonte-principal);
        padding: 0 2rem;
        text-transform: uppercase;
    }

    .options__link {
        font-family: var(--fonte-principal);
        text-decoration: none;
        color: var(--preto);
    }

    .container__image-heart {
        display: none;
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .options__button:checked ~ .list-menu{
        display: block;
        width: auto;
    }

    .options__button {
        display: none;
    }
}
