.topics {
    background: var(--azul-gradiente);
    text-align: center;
    font-family: var(--fonte-principal);
    padding-bottom: 1rem;
}

.topics__title {
    color: var(--branco);
    font-weight: 300;
    padding: 1.5rem;
}

.topics__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topics__iten {
    margin: 2rem 0.5rem;
}

.topics__links{
    color: var(--branco);
    padding: 1rem;
    background-color: var(--laranja);
    font-weight: 700;
    text-decoration: none;
    font-size: 14px;
}